<form action="/usuario/cad" method="POST">
  <h1>Cadastro</h1>
  <p>Nome: </p>
  <input type="text" name="nome">
  <p>Nome de usuário:</p>
  <input type="text" name="usuario">
  <p>Email: </p>
  <input type="text" name="email">
  <p>Senha: </p>
  <input type="text" name="senha">
  <button type="submit">Cadastrar</button>
  
</form>
<a href="/usuario/entrar"><button>Fazer login</button></a>